.property-back-page {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 35px;
  p {
    margin-left: 1rem;
  }
}

.property-detail-row-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  h3 {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #038618;
  }
  .btn-action {
    padding: 19px 30px;
    background-color: #038618;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: "MetaPro-Normal";
    font-weight: bold;
    cursor: pointer;
    outline: none;
    &:hover {
      transition: all 0.5s ease-in-out;
      background-color: transparent;
      border: 1px solid red;
      color: #038618;
    }
  }
}
.container-maindetail-single-page {
  background-color: white;
  margin-top: 32px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 16px;
  border-radius: 11px;
}
.container-flex-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.img-text-container {
  .second-img {
    margin-top: 15px;
  }
  p {
    text-align: right;
    margin-top: 25px;
    text-decoration: underline;
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.408px;
  }
}
.container-flex-details {
  .top-court {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 16px;
    letter-spacing: -0.408px;
    color: #000000;
  }
  .paragraph-one {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #a5a4a4;
  }
  .paragraph-two {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    margin-bottom: 6px;
    margin-top: 6px;
    font-size: 16px;
    line-height: 150%;
    color: #767272;
  }
  .paragraph-three {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 1.4rem;
    font-size: 16px;
    line-height: 150%;
    color: #767272;
  }
  .card-detail-two {
    .amenities {
      margin-top: 12px;
    }
  }
}
