.property-back-page {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 35px;
  p {
    margin-left: 1rem;
  }
}

.property-detail-row-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  h3 {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #038618;
  }
  .btn-action {
    padding: 19px 30px;
    background-color: #038618;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: "MetaPro-Normal";
    font-weight: bold;
    cursor: pointer;
    outline: none;
    &:hover {
      transition: all 0.5s ease-in-out;
      background-color: transparent;
      border: 1px solid red;
      color: #038618;
    }
  }
}
.container-maindetail-single-page {
  background-color: white;
  margin-top: 32px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 16px;
  border-radius: 11px;
}
.container-flex-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.img-text-container {
  .second-img {
    margin-top: 15px;
  }
  p {
    text-align: right;
    margin-top: 25px;
    text-decoration: underline;
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.408px;
  }
}
.container-flex-details {
  .top-court {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 16px;
    letter-spacing: -0.408px;
    color: #000000;
  }
  .paragraph-one {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #a5a4a4;
  }
  .paragraph-two {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    margin-bottom: 6px;
    margin-top: 6px;
    font-size: 16px;
    line-height: 150%;
    color: #767272;
  }
  .paragraph-three {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 1.4rem;
    font-size: 16px;
    line-height: 150%;
    color: #767272;
  }
  .card-detail-two {
    width: 49%;
    .amenities {
      margin-top: 25px;
    }
    .view-all {
      cursor: pointer;
    }
  }
  .card-detail-one {
    width: 49%;
  }
}
.page-data-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.4rem;
  .transac-container {
    width: 48%;
    background-color: white;
    padding-left: 28px;
    padding-right: 28px;
    box-sizing: border-box;
    border-radius: 24px;
  }
  .circle-data-graph {
    width: 48%;
    background-color: white;
    box-sizing: border-box;
    padding-left: 28px;
    height: 260px;
    padding-right: 28px;
    border-radius: 24px;
  }
  .see-more-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #038618;
    h3 {
      color: #000 !important;
    }
    .fa-arrow-right {
      margin-left: 0.6rem;
      color: #038618;
    }
  }
  .see-more-one {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .see-more-two {
    margin-top: 30px;
  }
}
.person-list-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .rent-total {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.408px;
    color: #a6a6a6;
  }

  .price-amout {
    font-family: "MetaPro-Normal";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    padding-right: 1rem;
    letter-spacing: -0.408px;
  }
}
.last {
  margin-bottom: 40px;
}
//  MEDIA QUERY
@media (max-width: 600px) {
  .property-back-page {
    margin-top: 28px;
  }
}
@media (max-width: 900px) {
  .container-flex-details {
    .card-detail-two {
      width: 100%;
      padding-bottom: 2rem;
      .amenities {
        margin-top: 15px;
      }
    }
    .card-detail-one {
      width: 100%;
      padding-bottom: 2rem;
    }
  }
  .person-list-data {
    .price-amout {
      padding-right: 0;
    }
  }
  .page-data-container {
    .transac-container {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
      border-radius: 24px;
    }
    .circle-data-graph {
      width: 100%;
      height: 260px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 24px;
      margin-top: 2rem;
    }
  }
}
