@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "login";
@import "sidebar";
:root {
  --main-font-family: "Open Sans", sans-serif;
  --heading-font-family: "Montserrat", sans-serif;
  --main-color: #6b1b9a;
  --optional-color: #038618;
  --white-color: #ffffff;
  --black-color: #515355;
  --paragraph-color: #6b7c8f;
  --font-size: 16px;
  --transition: 0.4s;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  font-family: var(--main-font-family);
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 19px;
  align-items: center;
  background-color: var(--white-color);
  width: 100%;
}

.company-logo {
  margin-bottom: 38px;
  cursor: pointer;
  padding-left: 30px;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding-left: 295px;
  min-height: 100vh;
  padding-right: 4rem;
  margin-bottom: 4rem;
  padding-top: 90px;
}
::-webkit-scrollbar {
  width: 1px;
  height: 6px;
}
.errors {
  color: red;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #334f7d;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: red;
}
a {
  text-decoration: none;
}
@media (max-width: 1199px) {
  .sidebar-false {
    position: fixed;
    left: -100%;
    transition: all 0.5s ease-in-out;
    height: 100%;
    width: 278px;
    box-sizing: border-box;
    z-index: 1;
    background-color: var(--optional-color);
    padding-top: 35px;
  }
  .sidebar-true {
    position: fixed;
    left: 0;
    transition: all 0.5s ease-in-out;
    height: 100%;
    width: 278px;
    z-index: 200 !important;
    box-sizing: border-box;
    background-color: var(--optional-color);
    padding-top: 35px;
  }
  .backdrop-overlay-false {
    width: 0;
  }
  .main-content-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
   .backdrop-overlay-true{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
   }
}
@media (min-width: 1200px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 278px;
    box-sizing: border-box;
    background-color: var(--optional-color);
    padding-top: 35px;
  }
}
